/*************************************
* Fonts
*************************************/

@font-face {
    font-family: 'folksregular';
    src: url('/Asset/fonts/Folks-Normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*************************************
* Vars
*************************************/

$base_font: 'folksregular', sans-serif;

html {
	background: white;
}

body {
	background: $col-bg;	
	margin: 0;
	max-width: 400px;
	padding: 1px;
	font-family: $base_font;
}

h1 {
	margin: 0;
}

.m-logo {
	display: block;
	position: relative;
	width: 60%;
	height: 2em;
	margin: 1em auto 0;
	background: url('/Asset/img/hubbub-logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	>span {
		display: none;
	}
}

.c1 {
	background: $col-2;
}
.c2 {
	background: $col-2;
}
.c3 {
	background: $col-3;
}
.c4 {
	background: $col-4;
}
.c5 {
	background: $col-5;
}
.c6 {
	background: $col-6;
}
.c7 {
	background: $col-7;
}
.c8 {
	background: $col-8;
}