$col-bg: #ff0;

$col-1: rgb(200, 200, 200);
$col-2: rgb(200, 200, 200);
$col-3: rgb(200, 200, 200);
$col-4: rgb(200, 200, 200);
$col-5: rgb(200, 200, 200);
$col-6: rgb(200, 200, 200);
$col-7: rgb(200, 200, 200);
$col-8: rgb(200, 200, 200);
$col-9: rgb(200, 200, 200);