$col-bg: rgb(0, 160, 153);

$col-1: rgb(139, 123, 162);
$col-2: rgb(128, 186, 42);
$col-3: rgb(235, 102, 148);
$col-4: rgb(230, 51, 63);
$col-5: rgb(242, 145, 0);
$col-6: rgb(0, 88, 144);
$col-7: rgb(59, 190, 238);
$col-8: rgb(237, 198, 32);
