.grid {
	float: left;
	width: 100%;
	list-style: none;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.grid:nth-child(odd) .grid-item {
	width: 20%;
}
.grid:nth-child(even) .grid-item {
	width: 30%;
}
.grid-item {
	position: relative;
	float: left;
	background: none;
	height: 100px;
	overflow: visible;
	box-sizing: border-box;
}

.grid-inner {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.face {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.face--bear {
	background-image: url('/Asset/img/bear.svg');
}
.face--cat {
	background-image: url('/Asset/img/cat.svg');
}
.face--deer {
	background-image: url('/Asset/img/deer.svg');
}
.face--fox {
	background-image: url('/Asset/img/fox.svg');
}
.face--koala {
	background-image: url('/Asset/img/koala.svg');
}
.face--panda {
	background-image: url('/Asset/img/panda.svg');
}
.face--racoon {
	background-image: url('/Asset/img/racoon.svg');
}
.face--wolf {
	background-image: url('/Asset/img/wolf.svg');
}
.face--monkey {
	background-image: url('/Asset/img/monkey.svg');
}

.face--10 {
	background-size: 10% 10%;
}

.face--20 {
	background-size: 10% 10%;
}

.face--30 {
	background-size: 10% 10%;
}

.face--40 {
	background-size: 10% 10%;
}

.m-muteable {
	display: none;
}