.grid {
	float: left;
	width: 100%;
	list-style: none;
	display: block;
	box-sizing: border-box;
	margin: 0 0 1rem 0;
	padding: 0;
}
.grid-item {
	position: relative;
	float: left;
	background: none;
	height: 33vw;
	width: 33vw;
	overflow: visible;
	box-sizing: border-box;

	transform: scale(0.9);

	&[data-user='nobody'] {
		opacity: 0;
	}

	&.talking {
		animation: talk 0.5s infinite ;
	}
}

@keyframes talk {
	50% {
		transform: scale(1);
	}
}

.grid-inner {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}

.face {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.face--bear {
	background-image: url('/Asset/img/bear.svg');
}
.face--cat {
	background-image: url('/Asset/img/cat.svg');
}
.face--deer {
	background-image: url('/Asset/img/deer.svg');
}
.face--fox {
	background-image: url('/Asset/img/fox.svg');
}
.face--koala {
	background-image: url('/Asset/img/koala.svg');
}
.face--panda {
	background-image: url('/Asset/img/panda.svg');
}
.face--racoon {
	background-image: url('/Asset/img/racoon.svg');
}
.face--wolf {
	background-image: url('/Asset/img/wolf.svg');
}
.face--monkey {
	background-image: url('/Asset/img/monkey.svg');
}
.m-muteable {
	display: none;
}
.m-muteable + label {
	position: relative;
}
.m-muteable:checked + label span::before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	text-align: center;
	background-image: url('/Asset/img/cross.svg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 80%;
}