#room-overview {
	margin: 0;
	padding: 1rem;
	overflow: hidden;
	list-style-type: none;
	display: flex;
	justify-content: space-between;

	>.m-room-thumbnail {
		display: inline-block;
		flex: 0 1 45%;
		position: relative;
		text-decoration: none;

		>li {
			border: 2px solid black;
			background: white;
			height: 10rem;
		}
		.m-room-name {
			text-align: center;
			color: white;
			margin: .5rem 0 0 0;
		}
	}
}