#room-overview {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;

	>a {

		>li {
			float: left;
			width: 10rem;
			height: 10rem;
			margin: 2rem;
			border: 2px solid black;
			background: white;
		}
	}
}